<div class="messages-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Messages</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-tab-group [selectedIndex]="selectedTabIndex" (selectedIndexChange)="onTabChange($event)">
        <!-- Inbox Tab -->
        <mat-tab label="Inbox">
          <ng-container *ngIf="inboxMessages.length > 0; else noInboxMessages">
            <mat-list>
              <mat-list-item *ngFor="let message of inboxMessages" 
               [class.unread]="!message.isRead"
               (click)="markAsRead(message._id)">
    <mat-icon matListIcon>{{ message.isRead ? 'mail_outline' : 'mail' }}</mat-icon>
    <div matLine class="message-subject">{{message.subject}}</div>
    <div matLine class="message-sender">
        From: {{message.sender.firstName}} {{message.sender.lastName}}
    </div>
    <div matLine class="message-date">
        {{message.createdAt | date:'medium'}}
    </div>
</mat-list-item>
            </mat-list>
          </ng-container>
          <ng-template #noInboxMessages>
            <div class="no-messages">
              <mat-icon>inbox</mat-icon>
              <p>No messages in inbox</p>
            </div>
          </ng-template>
        </mat-tab>

        <!-- New Message Tab -->
        <mat-tab label="New Message">
          <div class="new-message-container">
            <form [formGroup]="messageForm" (ngSubmit)="sendMessage()" class="message-form">
              <mat-form-field appearance="outline">
                <mat-label>To</mat-label>
                <mat-select formControlName="receiverId">
                  <mat-option *ngFor="let user of users" [value]="user._id">
                    {{user.firstName}} {{user.lastName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Subject</mat-label>
                <input matInput formControlName="subject">
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Message</mat-label>
                <textarea matInput formControlName="content" rows="4"></textarea>
              </mat-form-field>

              <button mat-raised-button color="primary" type="submit"
                      [disabled]="messageForm.invalid || loading">
                Send Message
              </button>
            </form>
          </div>
        </mat-tab>

        <!-- Sent Tab -->
        <mat-tab label="Sent">
          <ng-container *ngIf="sentMessages.length > 0; else noSentMessages">
            <mat-list>
              <mat-list-item *ngFor="let message of sentMessages">
                <mat-icon matListIcon>send</mat-icon>
                <div matLine class="message-subject">{{message.subject}}</div>
                <div matLine class="message-receiver">
                    To: {{message.receiver.firstName}} {{message.receiver.lastName}}
                </div>
                <div matLine class="message-date">
                    {{message.createdAt | date:'medium'}}
                </div>
            </mat-list-item>
            </mat-list>
          </ng-container>
          <ng-template #noSentMessages>
            <div class="no-messages">
              <mat-icon>send</mat-icon>
              <p>No sent messages</p>
            </div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>